@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sawarabi Gothic";
  font-weight: 400;
  font-feature-settings: "palt" 1;
  letter-spacing: 0.05em;
  font-size: 16px;
  transition: all .15s;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  opacity: 0.7;
}

button {
  transition: all .2s;
}

button:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

:root[data-theme="light"] {
  color-scheme: light;
  --main-color: #374151;
  --bg-color: #F9FAFB;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --main-color: #fff;
  --bg-color: #374151;
}

body {
  color: var(--main-color);
  background-color: var(--bg-color);
}

.english {
  font-family: "Lato", sans-serif;
}
